{% extends 'base.html' %}
{% load static from staticfiles %}

    {% block content %}
			<section class="container main-search">
				<h1>Sensorama<br>Поиск клубов виртуальной реальности в Москве</h1>
				<form class="filter">
					<fieldset class="platform">
						<select class="filter-form filter-form-style">
							<option>PS4</option>
							<option>Oculus Rift</option>
							<option>HTC Vive</option>
							<option>Любая</option>
						</select>
					</fieldset>
					<fieldset class="genre">
						<select class="filter-form filter-form-style">
							<option>Все жанры</option>
							<option>Экшен</option>
							<option>Шутер</option>
							<option>Гонки</option>
							<option>Приключения</option>
							<option>Спорт</option>
						</select>
					</fieldset>
					<input class="filter-form search" type="search" placeholder="Название игры ...">
				</form>
				<input class="button" type="submit" value="Начать поиск">
			</section>
			
			<section class="container best-games">
				<h3>Лучшие игры</h3>
				<div class="game-list">
					<div class="profile-new">
						<a href="#">
							<div class="profile-cover" style="background-image: url('{% static 'img/batman-arkham-vr.png' %}');">
							</div>
							<div class="game-top">
								<img src="{% static 'img/12.png' %}" title="Для детей старше 12 лет" alt="">
							</div>
							<div class="game-info">
								<div class="profile-name">Batman: Arkham VR</div>
								<div class="profile-row">2017</div>
								<div class="profile-row">Приключения, триллер</div>
								<div class="game-platform">
									<ul>
										<li><img src="{% static 'img/ps4.png' %}" height="25px" title="Поддерживается на системе PS4 VR" alt=""></li>
									</ul>
								</div>
							</div>
						</a>
					</div>
					
					<div class="profile-new">
						<a href="#">
							<div class="profile-cover" style="background-image: url('{% static 'img/skyrim.png' %}');">
							</div>
							<div class="game-top">
								<img src="{% static 'img/12.png' %}" title="Для детей старше 12 лет" alt="">
							</div>
							<div class="game-info">
								<div class="profile-name">Skyrim VR</div>
								<div class="profile-row">2016</div>
								<div class="profile-row">Фэнтези</div>
								<div class="game-platform">
									<ul>
										<li><img src="{% static 'img/htc.png' %}" height="25px" title="Поддерживается на системе HTC Vive" alt=""></li>
										<li><img src="{% static 'img/ps4.png' %}" height="25px" title="Поддерживается на системе PS4 VR" alt=""></li>
										<li><img src="{% static 'img/oculus.png' %}" height="25px" title="Поддерживается на системе Oculus Rift" alt=""></li>
									</ul>
								</div>
							</div>
						</a>
					</div>
					
					<div class="profile-new">
						<a href="#">
							<div class="profile-cover" style="background-image: url('{% static 'img/beat-saber.png' %}');">
							</div>
							<div class="game-top">
								<img src="{% static 'img/12.png' %}" title="Для детей старше 12 лет" alt="">
							</div>
							<div class="game-info">
								<div class="profile-name">Beat Saber</div>
								<div class="profile-row">2015</div>
								<div class="profile-row">Аркада</div>
								<div class="game-platform">
									<ul>
										<li><img src="{% static 'img/htc.png' %}" height="25px" title="Поддерживается на системе HTC Vive" alt=""></li>
										<li><img src="{% static 'img/oculus.png' %}" height="25px" title="Поддерживается на системе Oculus Rift" alt=""></li>
									</ul>
								</div>
							</div>
						</a>
					</div>
					
					<div class="profile-new">
						<a href="#">
							<div class="profile-cover" style="background-image: url('{% static 'img/the-climb.png' %}');">
							</div>
							<div class="game-top">
								<img src="{% static 'img/12.png' %}" title="Для детей старше 12 лет" alt="">
							</div>
							<div class="game-info">
								<div class="profile-name">The Climb</div>
								<div class="profile-row">2015</div>
								<div class="profile-row">Приключения</div>
								<div class="game-platform">
									<ul>
										<li><img src="{% static 'img/htc.png' %}" height="25px" title="Поддерживается на системе HTC Vive" alt=""></li>
										<li><img src="{% static 'img/oculus.png' %}" height="25px" title="Поддерживается на системе Oculus Rift" alt=""></li>
									</ul>
								</div>
							</div>
						</a>
					</div>
					<!--<div class="list-item">
						<a class="test" href="game.html">
							<img class="list-item-img" src="img/batman-arkham-vr.png" width="261" height="150" alt="Batman: Arkham VR">
						</a>
						<a class="game-info" href="game.html">
							Batman: Arkham VR
							2017
							Action, Фантакстика, Приключения
						</a>
					</div>
					<div class="list-item">
						<img class="list-item-img" src="img/the-climb.png" width="261" height="150" alt="Batman: Arkham VR">
						<div class="game-info">
							<p class="club-title">
								Нереальное место
							</p>
							<p>
								<span class="club-address">
									2015<br>
									Action, Фантакстика, Приключения<br>
								</span>
							</p>
							<a href="#" title="Что такое Oculus Rift?">Oculus Rift CV1</a>
							<a href="#">HTC Vive</a>
							<a href="#">PS VR</a>
						</div>
					</div>
					<div class="list-item">
						<img class="list-item-img" src="img/skyrim.png" width="261" height="150" alt="Batman: Arkham VR">
						<div class="game-info">
							<p class="club-title">
								Нереальное место
							</p>
							<p>
								<span class="club-address">
									2018<br>
									Action, Фантакстика, Приключения<br>
								</span>
							</p>
							<a href="#" title="Что такое Oculus Rift?">Oculus Rift CV1</a>
							<a href="#">HTC Vive</a>
							<a href="#">PS VR</a>
						</div>
					</div>
					<div class="list-item">
						<img class="list-item-img" src="img/beat-saber.png" width="261" height="150" alt="Batman: Arkham VR">
						<div class="game-info">
							<p class="club-title">
								Нереальное место
							</p>
							<p>
								<span class="club-address">
									2017<br>
									Action, Фантакстика, Приключения<br>
								</span>
							</p>
							<a href="#" title="Что такое Oculus Rift?">Oculus Rift CV1</a>
							<a href="#">HTC Vive</a>
							<a href="#">PS VR</a>
						</div>
					</div>-->
				</div>
				<div class="all-tags">
					<ul class="tags popular-tags">
						<li><a href="#">Гонки</a></li>
						<li><a href="#">Зомби</a></li>
						<li><a href="#">Экшен</a></li>
						<li><a href="#">Мультиплеер</a></li>
					</ul>
					<ul class="tags">
						<li><a href="#">Все игры</a></li>
					</ul>
				</div>
			</section>
			
			<section class="container best-clubs">
				<h3>Лучшие клубы</h3>
				<div class="club-list">
					<div class="profile-new">
						<a href="#">
							<div class="profile-cover club-cover" style="background-image: url('{% static 'img/unreal-place.png' %}');">
							</div>
							<div class="club-top">
								<img src="{% static 'img/price.jpg' %}" title="Минимальная стоимость 1-го часа игры" alt="">
							</div>
							<div class="club-info">
								<div class="profile-name">Нереальное место</div>
								<div class="profile-row">м. Курская</div>
								<div class="profile-row club-rating">Рейтинг:</div>
							</div>
						</a>
						<button class="reserve-mini">ЗАБРОНИРОВАТЬ</button>
					</div>
					
					<div class="profile-new">
						<a href="#">
							<div class="profile-cover" style="background-image: url('{% static 'img/anvio.png' %}');">
							</div>
							<div class="club-top">
								<img src="{% static 'img/price.jpg' %}" title="Минимальная стоимость 1-го часа игры" alt="">
							</div>
							<div class="club-info">
								<div class="profile-name">Anvio VR</div>
								<div class="profile-row">м. Улица 1905 года</div>
								<div class="profile-row club-rating">Рейтинг:</div>
							</div>
						</a>
						<button class="reserve-mini">ЗАБРОНИРОВАТЬ</button>
					</div>
					
					<div class="profile-new">
						<a href="#">
							<div class="profile-cover" style="background-image: url('{% static 'img/vr-go.png' %}');">
							</div>
							<div class="club-top">
								<img src="{% static 'img/price.jpg' %}" title="Минимальная стоимость 1-го часа игры" alt="">
							</div>
							<div class="club-info">
								<div class="profile-name">VR-GO</div>
								<div class="profile-row">м. Белорусская, Маяковская</div>
								<div class="profile-row club-rating">Рейтинг:</div>
							</div>
						</a>
						<button class="reserve-mini">ЗАБРОНИРОВАТЬ</button>
					</div>
					
					<div class="profile-new">
						<a href="#">
							<div class="profile-cover" style="background-image: url('{% static 'img/another-world.png' %}');">
							</div>
							<div class="club-top">
								<img src="{% static 'img/price.jpg' %}"" title="Минимальная стоимость 1-го часа игры" alt="">
							</div>
							<div class="club-info">
								<div class="profile-name">Another World</div>
								<div class="profile-row">м. Савёловская</div>
								<div class="profile-row club-rating">Рейтинг:</div>
							</div>
						</a>
						<button class="reserve-mini">ЗАБРОНИРОВАТЬ</button>
					</div>
				</div>
				<div class="all-tags">
					<ul class="tags popular-tags">
						<li><a href="#">Full Body VR</a></li>
						<li><a href="#">Клубы рядом</a></li>
						<li><a href="#">Новые</a></li>
						<li><a href="#">Пять звезд</a></li>
					</ul>
					<ul class="tags">
						<li><a href="#">Все клубы</a></li>
					</ul>
				</div>
			</section>
			
			<section class="container blog">
				<h3>Новости</h3>
				<article class="news">
					<h2 class="visually-hidden">Статья</h2>
					<a href="#">
						<img src="{% static 'img/news1.png' %}" width="262" height="150" alt="Новость1">
						<div class="news-content">
							<div class="news-title">
								BrainGate2 позволяет парализованным управлять планшетом
							</div>
							<div class="news-bait">
								А в перспективе и не только.
							</div>
							<div class="news-date">
								<div>26.11.2018     14:26</div>
								<div class="news-views" title="Количество просмотров">338</div>
							</div>
						</div>
					</a>
				</article>
				<article class="news">
					<h2 class="visually-hidden">Статья</h2>
					<a href="#">
						<img src="{% static 'img/news2.png' %}" width="262" height="150" alt="Новость1">
						<div class="news-content">
							<div class="news-title">
								Утечка указывает на разработку в Intel 10-ядерных процессоров
							</div>
							<div class="news-bait">
								Они будут созданы по 14-нанометровой технологии
							</div>
							<div class="news-date">
								<div>26.11.2018     14:26</div>
								<div class="news-views" title="Количество просмотров">282</div>
							</div>
						</div>
					</a>
				</article>
				<article class="news">
					<h2 class="visually-hidden">Статья</h2>
					<a href="#">
						<img src="{% static 'img/news3.png' %}" width="262" height="150" alt="Новость1">
						<div class="news-content">
							<div class="news-title">
								Razer поведала первые подробности о клавиатуре и мыши для Xbox One
							</div>
							<div class="news-bait">
								Клавиатура будет механической.
							</div>
							<div class="news-date">
								<div>26.11.2018     14:26</div>
								<div class="news-views" title="Количество просмотров">1054</div>
							</div>
						</div>
					</a>
				</article>
				<ul class="tags">
					<li><a href="#">Все новости</a></li>
				</ul>
			</section>
    {% endblock content %}