<!DOCTYPE html>
<html lang="ru">

	<head>
		<meta charset="utf-8">
		<title>Sensorama - Batman</title>
		<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&amp;subset=cyrillic" rel="stylesheet">
		<link href="css/normalize.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet">
	</head>
	
	<body>
		<header class="main-header">
			<nav class="main-navigation container">
				<ul class="site-navigation">
					<li>
						<a class="main-header-logo">
							<img src="#" alt="logo">
						</a>
					</li>
					<li><a href="#">Главная</a></li>
					<li><a href="#">Игры</a></li>
					<li><a href="#">Клубы</a></li>
					<li><a href="#">О нас</a></li>
				</ul>
				<ul class="user-navigation">
					<li class="login-link"><a href="#">Вход</a></li>
				</ul>
			</nav>
		</header>
		
		<main>
			<section class="container profile-game">
				<div class="profile-game-title">
					<h2>Нереальное место</h2>
				</div>
				<div class="profile-game-content">
					<div class="profile-game-screenshots">
						<img src="img/unreal-place.png" width="750" height="421" alt="Batman: Arkham VR">
						<div class="screenshots-switch">
							<img src="img/unreal-place1.png" width="144" height="81" alt="Batman: Arkham VR">
							<img src="img/unreal-place2.png" width="144" height="81" alt="Batman: Arkham VR">
							<img src="img/unreal-place3.png" width="144" height="81" alt="Batman: Arkham VR">
							<img src="img/unreal-place4.png" width="144" height="81" alt="Batman: Arkham VR">
							<img src="img/unreal-place4.png" width="144" height="81" alt="Batman: Arkham VR">
						</div>
					</div>
					<div class="profile-game-informations">
						<img src="img/unreal-place-cover.png" width="360" height="202" alt="Batman: Arkham VR">
						<p>
							<span>Адрес:</span>Нижний Сусальный переулок 5, стр 5А<br>
							<span>Метро:</span>Курская<br>
							<span>Телефон:</span>+7 495 129 49 19<br>
							<span>Время работы:</span>сегодня 10.00 - 22.00<br>
							<span>Количество шлемов:</span>6 шт.<br>
							<span>Стоимость 30 мин:</span>от 350 ₽<br>
						</p>
						<input class="button club-button" type="submit" value="ЗАБРОНИРОВАТЬ">
					</div>
				</div>
			</section>
			
			<section class="container menu-profile-game">
				<ul>
					<li><a href="#">Игры  клуба</a></li>
					<li><a href="#">Цены</a></li>
					<li><a href="#">Отзывы</a></li>
					<li><a href="#">Оборудование</a></li>
					<li><a href="#">Контакты</a></li>
				</ul>
				<hr class="footer-line">
			</section>
			
			<section class="container profile-game-filter">
				<h3>Игры клубы <span>Нереальное место<span></h3>
				<form class="profile-game-filter">
					<div class="filter-membrane">
						<div class="search-and-helmet">
							<fieldset class="genre">
								<select class="filter-form filter-form-style">
									<option>Все жанры</option>
									<option>Экшен</option>
									<option>Шутер</option>
									<option>Гонки</option>
									<option>Приключения</option>
									<option>Спорт</option>
								</select>
							</fieldset>
							<fieldset class="helmet">
								<select class="filter-form filter-form-style">
									<option>PS4</option>
									<option>Oculus Rift</option>
									<option>HTC Vive</option>
									<option>Любая</option>
								</select>
							</fieldset>
							<fieldset class="helmet">
								<select class="filter-form filter-form-style">
									<option>PS4</option>
									<option>Oculus Rift</option>
									<option>HTC Vive</option>
									<option>Любая</option>
								</select>
							</fieldset>
							<fieldset class="helmet">
								<select class="filter-form filter-form-style">
									<option>PS4</option>
									<option>Oculus Rift</option>
									<option>HTC Vive</option>
									<option>Любая</option>
								</select>
							</fieldset>
						</div>
					</div>
					<fieldset>
						<input class="platform-checkbox" type="checkbox" name="ps4" id="ps4">
						<label for="ps4">PS VR</label>
						<input class="platform-checkbox" type="checkbox" name="htc" id="htc">
						<label for="htc">HTC Vive</label>
						<input class="platform-checkbox" type="checkbox" name="oculus" id="oculus">
						<label for="oculus">Oculus Rift CV1</label>
						<input class="platform-checkbox" type="checkbox" name="any-platform" id="any-platform">
						<label for="any-platform">Любая</label>
					</fieldset>
				</form>
			</section>
			
			<section class="container best-games">
				<div class="game-list">
					<div class="list-item">
						<img src="img/batman-arkham-vr.png" width="261" height="150" alt="Batman: Arkham VR">
						<div class="game-info">
							<a href="game.html">
							<p class="club-title">
								Batman: Arkham VR
							</p>
							</a>
							<p>
								<span class="club-address">
									м. Курская<br>
									Рейтинг<br>
								</span>
							</p>
							<a href="#" title="Что такое Oculus Rift?">Oculus Rift CV1</a>
							<a href="#">HTC Vive</a>
							<a href="#">PS VR</a>
						</div>
					</div>
					<div class="list-item">
						<img src="img/the-climb.png" width="261" height="150" alt="Batman: Arkham VR">
						<div class="game-info">
							<p class="club-title">
								Нереальное место
							</p>
							<p>
								<span class="club-address">
									м. Курская<br>
									Рейтинг<br>
								</span>
							</p>
							<a href="#" title="Что такое Oculus Rift?">Oculus Rift CV1</a>
							<a href="#">HTC Vive</a>
							<a href="#">PS VR</a>
						</div>
					</div>
					<div class="list-item">
						<img src="img/skyrim.png" width="261" height="150" alt="Batman: Arkham VR">
						<div class="game-info">
							<p class="club-title">
								Нереальное место
							</p>
							<p>
								<span class="club-address">
									м. Курская<br>
									Рейтинг<br>
								</span>
							</p>
							<a href="#" title="Что такое Oculus Rift?">Oculus Rift CV1</a>
							<a href="#">HTC Vive</a>
							<a href="#">PS VR</a>
						</div>
					</div>
					<div class="list-item">
						<img src="img/beat-saber.png" width="261" height="150" alt="Batman: Arkham VR">
						<div class="game-info">
							<p class="club-title">
								Нереальное место
							</p>
							<p>
								<span class="club-address">
									м. Курская<br>
									Рейтинг<br>
								</span>
							</p>
							<a href="#" title="Что такое Oculus Rift?">Oculus Rift CV1</a>
							<a href="#">HTC Vive</a>
							<a href="#">PS VR</a>
						</div>
					</div>
				</div>
				<div class="all-tags">
					<ul class="tags">
						<li><a href="#">Еще игры</a></li>
					</ul>
				</div>
			</section>
			
			<section class="container reviews-section">
				<div class="reviews-title">
					<h3>Отзывы на <span>Нереальное место</span></h3>
					<div class="game-mark-wrapper">
						<p class="game-mark">7.4</p>
						<p class="game-mark-amount">всего: 14</p>
					</div>
				</div>
				<div class="reviews">
					<ul>
						<li>
							<p class="reviews-name">Железный Феликс</p>
							<p class="reviews-date">14.11.2018</p>
							<p class="reviews-content">
								В первые 50 минут фильма ничего не произойдет. Сюжет уровня вашего ежедневного похода на работу. Потом создастся проблема, высосанная из пальца, потому что без нее произведения бы вообще не было, а был бы какой-то
							</p>
						</li>
						<li>
							<p class="reviews-name">KUUU KUUU</p>
							<p class="reviews-date">14.11.2018</p>
							<p class="reviews-content">
								Ходили на фильм в кинотеатре. Очень хороший фильм. Многое переосмыслить заставляет. Кристофер Робин вырос, и уже у него другие ценности. Но Винни Пуха и старых добрых диснеевских друзей видеть в кукольном виде непривычно.
							</p>
						</li>
						<li>
							<p class="reviews-name">Товарищ Енот</p>
							<p class="reviews-date">14.11.2018</p>
							<p class="reviews-content">
								Очень хороший фильм! И главное это не просто комедия. Рекомендую смотреть и детям и взрослым. Дети по веселятся, а взрослые найдут глубокий смысл Замечательный фильм!
							</p>
						</li>
					</ul>
				</div>
				<div class="all-tags">
					<ul class="tags">
						<li><a href="#">Еще отзывы</a></li>
					</ul>
				</div>
			</section>
		</main>
		
		<footer class="main-footer">
			<section class="container">
				<h2 class="visually-hidden">Общая информация</h2>
				<ul class="social-list">
					<li>Мы в социальных сетях:</li>
				</ul>
				<hr class="footer-line">
				
				<div class="main-footer-info">
					<ul class="info-list">
						<li><a href="#">Подробнее о нас</a></li>
						<li><a href="#">Контактная информация</a></li>
						<li><a href="#">Для инвесторов</a></li>
						<li><a href="#">Карьера</a></li>
						<li><a href="#">Офисы</a></li>
					</ul>
					<ul class="info-list">
						<li><a href="#">Клубам</a></li>
						<li><a href="#">Добавить клуб</a></li>
						<li><a href="#">Блог</a></li>
					</ul>
					<ul class="info-list">
						<li><a href="#">Помощь</a></li>
						<li><a href="#">Популярные вопросы</a></li>
						<li><a href="#">СМИ о нас</a></li>
					</ul>
				</div>
				
				<hr class="footer-line">
				<ul class="reference">
					<li>2018</li>
					<li>Все права защищены</li>
					<li><a href="#">Справка</a></li>
					<li><a href="#">Конфиденциальность</a></li>
					<li><a href="#">Условия пользования</a></li>
				</ul>
			</section>
		</footer>
	</body>
	
</html>