body {
	font-family: Roboto, Arial, sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	color: #1f1f22;
	
	background-repeat: no-repeat;
}

div {
	
}

.container {
	width: 1140px;
	margin: 0 auto;
	padding: 0;
}

.visually-hidden {
	display: none;
}

.main-navigation {
	font-size: 16px;
	font-weight: 300;
	line-height: 20px;
	
	display: flex;
	justify-content: space-between;
	align-items: center;
	
	height: 65px;
	
	border-bottom: 1px solid #eaebee;
}

.site-navigation a,
.user-navigation a {
	color: #1f1f22;
}

.site-navigation,
.user-navigation {
	margin: 0;
	padding: 0;
	list-style: none;
}

.site-navigation {
	display: flex;
	justify-content: space-between;
	
	width: 500px;
	
	margin-left: 25px;
}

.user-navigation {
	margin-right: 25px;
}

h1 {
	font-size: 46px;
	font-weight: 300;
	line-height: 48px;
	
	text-align: center;
	
	margin: 0;
	padding: 0;
}

h2 {
	font-size: 32px;
	font-weight: 400;
	line-height: 40px;
	
	margin: 0;
	padding: 0;
}

h3 {
	font-size: 28px;
	font-weight: 400;
}

.main-search {
	display: flex;
	flex-direction: column;
	align-items: center;
	
	margin-top: 115px;
	margin-bottom: 115px;
}

.filter {
	display: flex;
	
	margin: 40px 0;
}

.filter fieldset {
	border: none;
	margin: 0;
	padding: 0;
}

.filter-form {
	height: 38px;
	border: 1px solid #e8eaed;
}

.button {
	color: #ffffff;
	
	border: 1px solid #5e98fb;
	background: linear-gradient(to top, #5e98fb, #69a1ff);
	
	width: 156px;
	height: 36px;
}

.best-games,
.best-clubs,
.blog {
	margin-bottom: 60px;
}

.game-list {
	display: flex;
	justify-content: space-between;
	
	margin: 0 0 15px 0;
	padding: 0;
	
	list-style: none;
}

.game-info {
	padding: 20px 0 20px 10px;
	
	height: 100%;
	
	border-left: 1px solid #d4d4d4;
	border-right: 1px solid #d4d4d4;
	border-bottom: 1px solid #d4d4d4;
}

.club-list {
	display: flex;
	justify-content: space-between;
	
	margin: 0;
	padding: 0;
	
	list-style: none;
}

.list-item {
	display: flex;
	flex-direction: column;
	
	width: 261px;
	height: 340px;
	
	margin: 0;
	padding: 0;
}

.club-info {
	padding: 20px 0 20px 10px;
	
	border-left: 1px solid #d4d4d4;
	border-right: 1px solid #d4d4d4;
}

.list-item p {
	margin: 0;
	padding: 0;
}

.club-title {
	color: #1f1f22;
	font-size: 16px;
}

.club-address {
	color: #aeb1b6;
}

.list-item a {
	color: #aeb1b6;
	font-weight: 300;
	text-decoration: underline;
}

.reserve-mini {
	color: #c1c1c1;
	
	background-color: #fff;
	
	border: 1px solid #d4d4d4;
	
	width: 100%;
	height: 38px;
}

.all-tags {
	display: flex;
	justify-content: space-between;
}

.tags {
	display: flex;
	
	margin: 0;
	padding: 0;
	
	list-style: none;
}

.popular-tags a {
	margin-right: 15px;
}

.tags a {
	color: #3071eb;
	text-decoration: underline;
}

.news {
	display: flex;
	
	width: 848px;
	height: 150px;
	
	margin-bottom: 15px;
}

.news-content {
	width: 585px;
	
	padding: 0 20px;
	
	border-top: 1px solid #d4d4d4;
	border-right: 1px solid #d4d4d4;
	border-bottom: 1px solid #d4d4d4;
}

.news-title {
	font-size: 18px;
}

.news-bait {
	color: #808080;
}

.news-date {
	font-weight: 300;
	color: #808080;
}

.main-footer {
	background-color: #f7f8f9;
}

.main-footer ul {
	list-style: none;
}

.main-footer a {
	color: #1f1f22;
}

.social-list,
.reference,
.main-footer-info {
	display: flex;
	
	margin: 0;
	padding: 30px 0;
}

.social-list :first-child {
	font-size: 16px;
	font-weight: 300;
}

.social-list li {
	margin-right: 15px;
}

.info-list {
	margin: 0 100px 0 0;
	padding: 0;
}

.info-list :first-child {
	font-size: 18px;
}

.info-list :not(:first-child) a {
	font-weight: 300;
	font-size: 14px;
}

.info-list li {
	margin-bottom: 10px;
}

.reference li {
	display: flex;
	margin-right: 15px;
}

.footer-line {
	margin: 0;
	padding: 0;
	
	border: none;
    color: #d6d8dc;
    background-color: #d6d8dc;
    height: 1px;
	width: 1140px;
}

.profile-game {
	margin-top: 50px;
	margin-bottom: 25px;
}

.profile-game-title p {
	font-weight: 300;
	color: #aeb1b6;
	
	margin: 0;
	padding: 0;
}

.profile-game-content {
	display: flex;
	justify-content: space-between;
}

.screenshots-switch {
	display: flex;
	justify-content: space-between;
}

.profile-game-informations {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	
	width: 360px;
}

.profile-game-informations p span {
	font-weight: 700;
}

.profile-game-tags {
	flex-wrap: wrap;
}

.profile-game-tags a {
	margin-right: 10px;
	font-weight: 300;
}

.menu-profile-game ul {
	display: flex;
	
	list-style: none;
	
	margin: 0;
	margin-bottom: 10px;
	padding: 0;
}

.menu-profile-game a {
	color: #1f1f22;
	font-size: 16px;
	
	margin-right: 30px;
}

.profile-game-filter {
	margin-bottom: 10px;
}

.profile-game-filter fieldset {
	border: none;
	
	margin: 0;
	padding: 0;
}

.filter-membrane {
	display: flex;
	justify-content: space-between;
	align-items: center;
	
	margin-bottom: 10px;
}

.search {
	width: 265px;
}

.search-and-helmet {
	display: flex;
}

.search::-webkit-input-placeholder {
	color: #c1c1c1;
	padding-left: 10px;
}

.filter-form-style {
	color: #1f1f22;
	border-right: none;
	
	appearance: none;
	-moz-appearance: none;
    -webkit-appearance: none;
}

.reviews-section {
	margin-bottom: 60px;
}

.reviews-title h3,
.reviews-title p {
	margin: 0;
	padding: 0;
}

.reviews-title h3 {
	margin-bottom: 15px;
}

.reviews-title p {
	margin-right: 15px;
}

.game-mark-wrapper {
	display: flex;
	align-items: flex-end;
	
	margin-bottom: 15px;
}

.game-mark {
	font-size: 48px;
	font-weight: 300;
	line-height: 48px;
}

.game-mark-amount {
	font-size: 16px;
}

.reviews ul {
	width: 848px;
	
	list-style: none;
	
	margin: 0;
	padding: 0;
}

.reviews li {
	margin-bottom: 15px;
}

.reviews p {
	margin: 0;
	margin-bottom: 5px;
	padding: 0;
}

.reviews-name {
	font-size: 16px;
	font-weight: 400;
}

.reviews-date {
	color: #c1c1c1;
}

.reviews-content {
	font-size: 16px;
	font-weight: 300;
}

.club-button {
	width: 100%;
}








